
@{
    ViewBag.Title = "Chi tiết sản phẩm";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link href="~/Content/Css/globals.css" rel="stylesheet" />
<link href="~/Content/Css/styleguild.css" rel="stylesheet" />
<link href="~/Content/Css/ChiTietSanPhamCss.css" rel="stylesheet" />

<div class="chi-tit-sn-phm">
    <div class="text-wrapper-13">Danh mục sản phẩm</div>
    <img class="arrow-forward-ios" src="~/img/arrow-forward-ios-1.svg" />
    <div class="div-wrapper"><div class="text-wrapper-14">Chi tiết sản phẩm</div></div>
    <div class="group-2">
        <img class="img" src="~/img/rectangle-35.svg" />
        <img class="image" src="~/img/image-14.svg" />
        <img class="image-2" src="~/img/image-15.png" />
        <img class="image-3" src="~/img/image-16.png" />
        <div class="text-wrapper-15">Dây chuyền Pearl Lock</div>
        <div class="text-wrapper-16">màu Bạc, 9-10mm</div>
        <p class="m-t-chi-ti-t">Mô tả &amp; Chi tiết</p>
        <p class="text-wrapper-17">
            Tiffany HardWear là biểu hiện của sức mạnh biến đổi của tình yêu. Lấy cảm hứng từ chiếc vòng tay tinh túy
            từ năm 1962 được tìm thấy trong kho lưu trữ của Ngôi nhà, HardWear thể hiện khả năng phục hồi bền bỉ và
            tinh thần không bị ngăn cản. Sự kết hợp bất ngờ giữa các mắt xích bạc và ngọc trai tạo nên phong cách nổi
            bật. Cho dù kết hợp với một chiếc áo phông đơn giản hay một chiếc áo sơ mi cài cúc kiểu dáng đẹp, chiếc
            vòng cổ quấn này sẽ tăng thêm nét thanh lịch cho mọi trang phục.
        </p>
        <div class="group-3">
            <div class="ellipse"></div>
            <div class="ng-nhp"><p class="ng-nh-p">Bạc sterling với ngọc trai nuôi nước ngọt dài 32&#34;</p></div>
        </div>
        <div class="group-4">
            <div class="ellipse-2"></div>
            <div class="ng-nhp"><p class="ng-nh-p">Ngọc trai, mỗi viên 9-10 mm</p></div>
        </div>
        <div class="group-5">
            <div class="ellipse"></div>
            <div class="ng-nhp"><p class="ng-nh-p">Được thiết kế để thoải mái và dễ mặc</p></div>
        </div>
        <div class="detail">
            <div class="text-wrapper-18">101,434,000₫</div>
            <div class="text-wrapper-19">Thêm vào giỏ</div>
        </div>
    </div>
    <div class="group-6">
        <p class="text-wrapper-20">Có Thể Bạn Cũng Thích</p>
        <div class="frame">
            <div class="frame-2">
                <div class="group-7">
                    <img class="image-4" src="~/img/image-17.svg" />
                    <div class="group-8">
                        <div class="text-wrapper-21">Tiffany HardWear</div>
                        <p class="text-wrapper-22">Vòng cổ ngọc trai nước ngọt bằng bạc Sterling, 16&#34;</p>
                    </div>
                </div>
                <div class="group-9">
                    <img class="image-5" src="~/img/image-8.png" />
                    <div class="text-wrapper-23">Vòng cổ thiên nga</div>
                    <p class="text-wrapper-24">Sự kết hợp hoàn hảo cho một buổi hòa nhạc buổi tối tinh tế.</p>
                </div>
                <div class="group-10">
                    <img class="image-4" src="~/img/image-19.svg" />
                    <p class="text-wrapper-23">Vòng cổ DREAM của DIVAS</p>
                    <p class="v-ng-c-m-t-d-y-chuy">
                        Vòng cổ mặt dây chuyền vàng hồng 18 kt của Divas&#39; Dream được đính một viên kim cương cắt tròn
                        rực rỡ (0,03 ct), thành phần xà cừ và kim cương pavé (0,10 ct)
                    </p>
                </div>
                <div class="group-11">
                    <img class="image-6" src="~/img/image-20.svg" />
                    <p class="text-wrapper-23">Vòng cổ biến tấu Soleil de CHANEL</p>
                    <p class="text-wrapper-25">Vàng trắng và vàng vàng 18K, đính kim cương</p>
                </div>
                <div class="group-7">
                    <div class="group-12">
                        <img class="image-7" src="~/img/image-13.png" />
                        <div class="group-8">
                            <p class="text-wrapper-21">Vòng cổ Rose des Vents và Rose Céleste</p>
                            <p class="text-wrapper-22">Vàng và vàng trắng, kim cương, xà cừ và mã não</p>
                        </div>
                    </div>
                </div>
                <div class="group-9">
                    <img class="image-7" src="~/img/image-13.png" />
                    <p class="text-wrapper-23">Vòng cổ Juste un Clou</p>
                    <p class="text-wrapper-24">
                        àng hồng 18K (750/1000), được đính 14 viên kim cương cắt sáng chói tổng cộng 0,12 carat.
                    </p>
                </div>
                <div class="group-13">
                    <img class="image-7" src="~/img/image-13.png" />
                    <p class="text-wrapper-23">Vòng cổ dài Alhambra cổ điển, 20 họa tiết</p>
                    <p class="text-wrapper-26">Vàng hồng 18K, Kim cương, Malachite</p>
                </div>
            </div>
            <div class="group-14">
                <div class="ellipse-3"></div>
                <div class="ellipse-4"></div>
                <div class="ellipse-5"></div>
                <div class="rectangle-4"></div>
            </div>
        </div>
        <div class="arrow-forward-ios-wrapper">
            <img class="arrow-forward-ios-2" src="~/img/arrow-forward-ios-2.svg" />
        </div>
    </div>
    <div class="img-wrapper"><img class="arrow-forward-ios-3" src="~/img/arrow-forward-ios-3.svg" /></div>
</div>


