
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link href="~/Content/Css/globals.css" rel="stylesheet" />
<link href="~/Content/Css/styleguild.css" rel="stylesheet" />
<link href="~/Content/Css/GioHangCss.css" rel="stylesheet" />

<div class="gi-hng">
    <div class="text-wrapper-13">Tiếp tục mua sắm</div>
    <img class="arrow-forward-ios" src="~/img/arrow-forward-ios-1.svg" />
    <img class="img" src="~/img/line-6.svg" />
    <div class="frame"><img class="img-2" src="~/img/arrow-forward-ios-2.svg" /></div>
    <div class="group-2">
        <p class="text-wrapper-14">Có Thể Bạn Cũng Thích</p>
        <div class="arrow-forward-ios-wrapper">
            <img class="arrow-forward-ios-2" src="~/img/arrow-forward-ios-3.svg" />
        </div>
        <div class="group-wrapper">
            <div class="group-3">
                <div class="group-4">
                    <img class="image" src="~/img/image-2.png" />
                    <div class="group-5">
                        <div class="text-wrapper-15">Tiffany HardWear</div>
                        <p class="text-wrapper-16">Vòng cổ ngọc trai nước ngọt bằng bạc Sterling, 16&#34;</p>
                    </div>
                </div>
                <div class="group-6">
                    <img class="image" src="~/img/image-3.png" />
                    <div class="group-5">
                        <div class="text-wrapper-15">Vòng cổ thiên nga</div>
                        <p class="text-wrapper-16">Sự kết hợp hoàn hảo cho một buổi hòa nhạc buổi tối tinh tế.</p>
                    </div>
                </div>
                <div class="group-7">
                    <img class="image-2" src="~/img/image-11.svg" />
                    <div class="group-5">
                        <p class="text-wrapper-15">Vòng cổ DREAM của DIVAS</p>
                        <p class="text-wrapper-16">Vòng cổ mặt dây chuyền vàng hồng 18 kt của Divas&#39; Dream.</p>
                    </div>
                </div>
                <div class="group-8">
                    <img class="image-3" src="~/img/image-12.svg" />
                    <div class="group-5">
                        <p class="text-wrapper-15">Vòng cổ biến tấu Soleil de CHANEL</p>
                        <p class="text-wrapper-16">Vàng trắng và vàng vàng 18K, đính kim cương</p>
                    </div>
                </div>
                <div class="group-9">
                    <img class="image-4" src="~/img/image-8.png" />
                    <div class="group-5">
                        <p class="text-wrapper-17">Vòng cổ Rose des Vents và Rose Céleste</p>
                        <p class="text-wrapper-16">Vàng và vàng trắng, kim cương, xà cừ và mã não</p>
                    </div>
                </div>
                <div class="group-10">
                    <img class="image-4" src="~/img/image-8.png" />
                    <div class="group-5">
                        <p class="text-wrapper-15">Vòng cổ Juste un Clou</p>
                        <p class="text-wrapper-16">Vàng hồng 18K (750/1000), được đính 14 viên kim cương.</p>
                    </div>
                </div>
                <div class="group-11">
                    <img class="image-4" src="~/img/image-8.png" />
                    <div class="group-12">
                        <p class="text-wrapper-18">Vòng cổ dài Alhambra cổ điển, 20 họa tiết</p>
                        <p class="text-wrapper-16">Vàng hồng 18K, Kim cương, Malachite</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="overlap-group-wrapper">
        <div class="overlap-group-2">
            <div class="overlap">
                <p class="text-wrapper-19">Giao hàng trước thứ 2 ngày 23/09</p>
                <p class="text-wrapper-20">Chuyển phát nhanh có chữ ký 0₫</p>
            </div>
            <div class="text-wrapper-21">Tóm tắt đơn hàng</div>
            <div class="text-wrapper-22">Tổng phụ</div>
            <div class="cn-n-sm">
                <div class="frame-wrapper">
                    <div class="frame-2">
                        <div class="text-wrapper-23">Cần nó sớm hơn?</div>
                        <img class="polygon" src="i~/mg/polygon-1-2.svg" />
                    </div>
                </div>
            </div>
            <div class="group-13">
                <div class="text-wrapper-24">Tổng số ước tính:</div>
                <div class="text-wrapper-25">305.100.000 ₫</div>
            </div>
            <img class="line-2" src="~/img/line-8.svg" />
            <div class="div-wrapper"><div class="text-wrapper-26">Đặt hàng</div></div>
            <div class="image-wrapper"><img class="image-5" src="~/img/image-1.png" /></div>
            <div class="ng-nhp"><div class="text-wrapper-27">Tiếp tục mua hàng</div></div>
        </div>
    </div>
    <div class="group-14">
        <div class="overlap-2">
            <div class="favorite-border"></div>
            <div class="overlap-3">
                <div class="overlap-4">
                    <img class="clear" src="~/img/clear-1.svg" />
                    <img class="line-3" src="~/img/line-6.svg" />
                    <p class="text-wrapper-28">Vòng cổ Rose des Vents và Rose Céleste</p>
                    <p class="text-wrapper-29">Vàng và vàng trắng, kim cương, xà cừ và mã não</p>
                    <div class="component">
                        <div class="group-15">
                            <div class="text-wrapper-30">Chọn cửa hàng</div>
                            <img class="polygon-2" src="~/img/polygon-1.svg" />
                        </div>
                    </div>
                </div>
                <p class="text-wrapper-31">Kiểm tra tình trạng sẵn sàng nhận hàng tại cửa hàng:</p>
                <img class="rectangle-4" src="~/img/rectangle-38.png" />
            </div>
            <div class="text-wrapper-32">Số lượng</div>
            <div class="frame-3">
                <div class="frame-4">
                    <div class="group-16">
                        <img class="polygon-3" src="~/img/polygon-2.svg" />
                        <div class="text-wrapper-33">1</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-wrapper-34">Giỏ hàng (1)</div>
        <div class="group-17">
            <div class="div-2"><img class="img-2" src=~/"img/print-3.svg" /></div>
            <div class="mail-outline"><img class="img-2" src="~/img/mail-outline-3.svg" /></div>
        </div>
    </div>
</div>

