<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://leanhtuan-001-site1.otempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>https://win9071.site4now.net:8172/msdeploy.axd?site=leanhtuan-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>leanhtuan-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>leanhtuan-001</UserName>
    <_SavePWD>true</_SavePWD>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="shoptrangsucEntities1" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebTrangSuc.Models.shoptrangsucEntities1, WebTrangSuc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="shoptrangsucEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=SQL9001.site4now.net;Initial Catalog=db_aafa4c_shoptrangsuc;Persist Security Info=True;User ID=db_aafa4c_shoptrangsuc_admin;Password=Tuan159159" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-VN6K4IR;Initial Catalog=shoptrangsuc;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\shoptrangsucEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ShopTrangSuc.csdl|res://*/Models.ShopTrangSuc.ssdl|res://*/Models.ShopTrangSuc.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-VN6K4IR;initial catalog=shoptrangsuc;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="shoptrangsucEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ShopTrangSuc.csdl|res://*/Models.ShopTrangSuc.ssdl|res://*/Models.ShopTrangSuc.msl;provider=System.Data.SqlClient;provider connection string="data source=SQL9001.site4now.net;initial catalog=db_aafa4c_shoptrangsuc;persist security info=True;user id=db_aafa4c_shoptrangsuc_admin;password=Tuan159159;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)shoptrangsucEntities1-Web.config Connection String" />
  </ItemGroup>
</Project>