@model WebTrangSuc.Models.MauSac
@{
    @{
        ViewBag.Title = "Delete";
        Layout = "~/Areas/QuanLy/Views/shared/_QuanLyLayout.cshtml";
    }


    <h2>Xóa Màu Sắc</h2>
    <div>
        <p>Bạn có chắc muốn xóa màu: <strong>@Model.TenMau</strong>?</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">Xóa</button>
            <a href="@Url.Action("Index", "Color", new { area = "QuanLy" })" class="btn btn-secondary">Hủy</a>
        }
    </div>

