:root {
  --deskstop-heading-1-font-family: "Cabin", Helvetica;
  --deskstop-heading-1-font-weight: 700;
  --deskstop-heading-1-font-size: 48px;
  --deskstop-heading-1-letter-spacing: 0px;
  --deskstop-heading-1-line-height: normal;
  --deskstop-heading-1-font-style: normal;
  --deskstop-heading-2-font-family: "Cabin", Helvetica;
  --deskstop-heading-2-font-weight: 700;
  --deskstop-heading-2-font-size: 40px;
  --deskstop-heading-2-letter-spacing: 0px;
  --deskstop-heading-2-line-height: normal;
  --deskstop-heading-2-font-style: normal;
  --deskstop-heading-3-font-family: "Cabin", Helvetica;
  --deskstop-heading-3-font-weight: 600;
  --deskstop-heading-3-font-size: 32px;
  --deskstop-heading-3-letter-spacing: 0px;
  --deskstop-heading-3-line-height: normal;
  --deskstop-heading-3-font-style: normal;
  --deskstop-heading-4-font-family: "Cabin", Helvetica;
  --deskstop-heading-4-font-weight: 400;
  --deskstop-heading-4-font-size: 24px;
  --deskstop-heading-4-letter-spacing: 0px;
  --deskstop-heading-4-line-height: normal;
  --deskstop-heading-4-font-style: normal;
  --common-subtitle-font-family: "Cabin", Helvetica;
  --common-subtitle-font-weight: 600;
  --common-subtitle-font-size: 20px;
  --common-subtitle-letter-spacing: 0px;
  --common-subtitle-line-height: normal;
  --common-subtitle-font-style: normal;
  --common-label-font-family: "Cabin", Helvetica;
  --common-label-font-weight: 600;
  --common-label-font-size: 16px;
  --common-label-letter-spacing: 0px;
  --common-label-line-height: normal;
  --common-label-font-style: normal;
  --common-body-1-font-family: "Dancing Script", Helvetica;
  --common-body-1-font-weight: 400;
  --common-body-1-font-size: 20px;
  --common-body-1-letter-spacing: 0px;
  --common-body-1-line-height: normal;
  --common-body-1-font-style: normal;
  --common-body-2-font-family: "Dancing Script", Helvetica;
  --common-body-2-font-weight: 400;
  --common-body-2-font-size: 16px;
  --common-body-2-letter-spacing: 0px;
  --common-body-2-line-height: normal;
  --common-body-2-font-style: normal;
  --common-body-3-font-family: "Cabin", Helvetica;
  --common-body-3-font-weight: 400;
  --common-body-3-font-size: 20px;
  --common-body-3-letter-spacing: 0px;
  --common-body-3-line-height: normal;
  --common-body-3-font-style: normal;
  --common-body-4-font-family: "Cabin", Helvetica;
  --common-body-4-font-weight: 400;
  --common-body-4-font-size: 16px;
  --common-body-4-letter-spacing: 0px;
  --common-body-4-line-height: normal;
  --common-body-4-font-style: normal;
  --common-caption-font-family: "Cabin", Helvetica;
  --common-caption-font-weight: 400;
  --common-caption-font-size: 13px;
  --common-caption-letter-spacing: 0px;
  --common-caption-line-height: normal;
  --common-caption-font-style: normal;
}
