
@{
    ViewBag.Title = "DanhMucSanPham";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}


<link href="~/Content/Css/globals.css" rel="stylesheet" />
<link href="~/Content/Css/styleguild.css" rel="stylesheet" />
<link href="~/Content/Css/DanhMucSanPhamCss.css" rel="stylesheet" />
        <div class="group-2">
            <div class="text-wrapper-13">Trang chủ</div>
            <img class="arrow-forward-ios" src="~/img/arrow-forward-ios-1.svg" />
            <div class="text-wrapper-14">Danh mục sản phẩm</div>
        </div>
        <div class="group-3">
            <img class="image" src="~/img/image.png" />
            <img class="img" src="~/img/image-1.png" />
            <img class="image-2" src="~/img/image-2.png" />
            <img class="image-3" src="~/img/image-3.svg" />
            <img class="image-4" src="~/img/image-4.svg" />
            <img class="image-5" src="~/img/image-5.svg" />
            <div class="text-wrapper-15">Charm</div>
            <div class="text-wrapper-16">Vòng</div>
            <div class="text-wrapper-17">Nhẫn</div>
            <div class="text-wrapper-18">Đồng hồ</div>
            <div class="text-wrapper-19">Khuyên tai</div>
            <div class="text-wrapper-20">Dây chuyền</div>
        </div>
        <div class="group-4">
            <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                    <div class="div-wrapper"><div class="text-wrapper-21">Danh mục sản phẩm</div></div>
                    <div class="dy-chuyn"><div class="text-wrapper-22">Dây chuyền</div></div>
                    <div class="d-y-chuy-n-wrapper"><div class="d-y-chuy-n">Khuyên tai</div></div>
                    <div class="dy-chuyn-2"><div class="d-y-chuy-n-2">Đồng hồ</div></div>
                    <div class="dy-chuyn-3"><div class="d-y-chuy-n-3">Vòng</div></div>
                    <div class="dy-chuyn-4"><div class="d-y-chuy-n-4">Nhẫn</div></div>
                    <div class="dy-chuyn-5"><div class="d-y-chuy-n-5">Charm</div></div>
                </div>
            </div>
            <div class="overlap-wrapper">
                <div class="overlap">
                    <div class="div-wrapper"><div class="text-wrapper-21">Giá</div></div>
                    <div class="overlap-2">
                        <div class="group-5">
                            <div class="overlap-3">
                                <div class="overlap-4">
                                    <img class="line-2" src="~/img/line-4.svg" />
                                    <div class="group-6">
                                        <div class="overlap-group-3">
                                            <div class="rectangle-4"></div>
                                            <img class="polygon" src="~/img/polygon-1.svg" />
                                            <div class="text-wrapper-23">1M</div>
                                        </div>
                                        <div class="text-wrapper-24">1M</div>
                                        <div class="text-wrapper-25">5B</div>
                                    </div>
                                    <div class="ellipse"></div>
                                    <div class="ellipse-2"></div>
                                </div>
                                <div class="group-7">
                                    <div class="overlap-5">
                                        <div class="rectangle-4"></div>
                                        <img class="polygon" src="~/img/polygon-1-1.svg" />
                                        <div class="text-wrapper-26">5B</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rectangle-5"></div>
                        <div class="rectangle-6"></div>
                        <img class="line-3" src="~/img/line-5.svg" />
                    </div>
                </div>
            </div>
            <div class="component-wrapper">
                <div class="component">
                    <div class="div-wrapper"><div class="text-wrapper-27">Thương hiệu</div></div>
                    <div class="overlap-group-4">
                        <img class="line-4" src="~/img/line-1.svg" />
                        <div class="frame">
                            <div class="rectangle-7"></div>
                            <div class="image-removebg-wrapper">
                                <img class="image-removebg" src="~/img/image-removebg-preview-4-1.png" />
                            </div>
                            <div class="img-wrapper">
                                <img class="image-removebg" src="~/img/image-removebg-preview-4-1-1.png" />
                            </div>
                            <div class="frame-2">
                                <img class="image-removebg" src="~/img/image-removebg-preview-4-1-25.png" />
                            </div>
                            <div class="frame-3"><img class="image-removebg" src="~/img/image-removebg-preview-4-1-3.png" /></div>
                            <div class="frame-4"><img class="image-removebg" src="~/img/image-removebg-preview-4-1-4.png" /></div>
                            <div class="frame-5"><img class="image-removebg" src="~/img/image-removebg-preview-4-1-5.png" /></div>
                            <div class="frame-6"><img class="image-removebg" src="~/img/image-removebg-preview-4-1-6.png" /></div>
                            <div class="frame-7">
                                <img class="image-removebg-2" src="~/img/image-removebg-preview-4-1-7.png" />
                            </div>
                            <div class="frame-8"><img class="image-removebg" src="~/img/image-removebg-preview-4-1-8.png" /></div>
                            <div class="frame-9">
                                <img class="image-removebg" src="~/img/image-removebg-preview-4-1-11.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group-8">
                <div class="overlap-group-2">
                    <div class="div-wrapper"><div class="text-wrapper-27">Chất liệu</div></div>
                    <div class="component-2">
                        <div class="rectangle-8"></div>
                        <div class="text-wrapper-28">Vàng</div>
                    </div>
                    <div class="component-3">
                        <div class="rectangle-9"></div>
                        <div class="v-ng">Bạc</div>
                    </div>
                    <div class="component-4">
                        <div class="rectangle-10"></div>
                        <div class="v-ng-2">Vàng hồng</div>
                    </div>
                    <div class="component-5">
                        <div class="rectangle-11"></div>
                        <div class="v-ng-3">Kim cương</div>
                    </div>
                </div>
            </div>
            <div class="group-9">
                <div class="component-6">
                    <div class="div-wrapper"><div class="text-wrapper-27">Màu sắc</div></div>
                    <div class="frame-10">
                        <div class="component-7">
                            <div class="rectangle-12"></div>
                            <div class="ellipse-3"></div>
                            <div class="dy-chuyn-6"><div class="d-y-chuy-n-6">Vàng hồng</div></div>
                        </div>
                        <div class="component-8">
                            <div class="rectangle-12"></div>
                            <div class="ellipse-4"></div>
                            <div class="dy-chuyn-6"><div class="d-y-chuy-n-6">Xanh ngọc</div></div>
                        </div>
                        <div class="group-10">
                            <div class="div-2">
                                <div class="rectangle-12"></div>
                                <div class="ellipse-5"></div>
                                <div class="dy-chuyn-7"><div class="d-y-chuy-n-7">Xanh dương</div></div>
                            </div>
                        </div>
                        <div class="group-11">
                            <div class="div-2">
                                <div class="component-9">
                                    <div class="rectangle-12"></div>
                                    <div class="dy-chuyn-6"><div class="d-y-chuy-n-6">Bạc</div></div>
                                </div>
                                <div class="ellipse-6"></div>
                            </div>
                        </div>
                        <div class="group-12">
                            <div class="div-2">
                                <div class="component-9">
                                    <div class="rectangle-12"></div>
                                    <div class="dy-chuyn-6"><div class="d-y-chuy-n-6">Trắng</div></div>
                                </div>
                                <div class="ellipse-7"></div>
                            </div>
                        </div>
                        <div class="group-13">
                            <div class="div-2">
                                <div class="component-9">
                                    <div class="rectangle-12"></div>
                                    <div class="dy-chuyn-6"><div class="d-y-chuy-n-6">Vàng</div></div>
                                </div>
                                <div class="ellipse-8"></div>
                            </div>
                        </div>
                    </div>
                    <div class="rectangle-wrapper"><div class="rectangle-13"></div></div>
                </div>
            </div>
        </div>
        <div class="group-14">
            <div class="group-15">
                <div class="overlap-group-5">
                    <div class="overlap-6">
                        <div class="text-wrapper-29">101,434,000₫</div>
                        <div class="overlap-group-6">
                            <div class="text-wrapper-30">Dây chuyền Pearl Lock</div>
                            <img class="rectangle-14" src="img/rectangle-34-7.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-41.svg" />
                                <img class="star-2" src="~/img/star-42.svg" />
                                <img class="star-3" src="~/img/star-43.svg" />
                                <img class="star-4" src="~/img/star-44.svg" />
                                <img class="star-5" src="~/img/star-45.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-10.svg" />
                    </div>
                </div>
            </div>
            <div class="group-18">
                <div class="overlap-group-5">
                    <div class="overlap-6">
                        <div class="text-wrapper-29">101,434,000₫</div>
                        <div class="overlap-group-6">
                            <div class="text-wrapper-30">Dây chuyền Pearl Lock</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-7.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-46.svg" />
                                <img class="star-2" src="~/img/star-47.svg" />
                                <img class="star-3" src="~/img/star-48.svg" />
                                <img class="star-4" src="~/img/star-49.svg" />
                                <img class="star-5" src="~/img/star-50.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-11.svg" />
                    </div>
                </div>
            </div>
            <div class="group-19">
                <div class="overlap-group-5">
                    <div class="overlap-6">
                        <div class="text-wrapper-29">101,434,000₫</div>
                        <div class="overlap-group-6">
                            <div class="text-wrapper-30">Dây chuyền Pearl Lock</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-7.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-51.svg" />
                                <img class="star-2" src="~/img/star-52.svg" />
                                <img class="star-3" src="~/img/star-53.svg" />
                                <img class="star-4" src="~/img/star-54.svg" />
                                <img class="star-5" src="~/img/star-55.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-12.svg" />
                    </div>
                </div>
            </div>
            <div class="group-20">
                <div class="overlap-group-5">
                    <div class="overlap-6">
                        <div class="text-wrapper-29">101,434,000₫</div>
                        <div class="overlap-group-6">
                            <div class="text-wrapper-30">Dây chuyền Pearl Lock</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-7.png" />
                            <div class="group-16">
                                <img class="star" src="img/star-56.svg" />
                                <img class="star-2" src="~/img/star-57.svg" />
                                <img class="star-3" src="~/img/star-58.svg" />
                                <img class="star-4" src="~/img/star-59.svg" />
                                <img class="star-5" src="~/img/star-60.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-13.svg" />
                    </div>
                </div>
            </div>
            <div class="group-21">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">760,434,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Vòng tay tennis</div>
                            <img class="rectangle-14" src="img/rectangle-34-5.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-61.svg" />
                                <img class="star-2" src="~/img/star-62.svg" />
                                <img class="star-3" src="~/img/star-63.svg" />
                                <img class="star-4" src="~/img/star-64.svg" />
                                <img class="star-5" src="~/img/star-65.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-14.svg" />
                    </div>
                </div>
            </div>
            <div class="group-22">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">760,434,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Vòng tay tennis</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-5.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-66.svg" />
                                <img class="star-2" src="~/img/star-67.svg" />
                                <img class="star-3" src="~/img/star-68.svg" />
                                <img class="star-4" src="~/img/star-69.svg" />
                                <img class="star-5" src="~/img/star-70.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-15.svg" />
                    </div>
                </div>
            </div>
            <div class="group-23">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">760,434,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Vòng tay tennis</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-5.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-71.svg" />
                                <img class="star-2" src="~/img/star-72.svg" />
                                <img class="star-3" src="~/img/star-73.svg" />
                                <img class="star-4" src="~/img/star-74.svg" />
                                <img class="star-5" src="~/img/star-75.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-16.svg" />
                    </div>
                </div>
            </div>
            <div class="group-24">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">760,434,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Vòng tay tennis</div>
                            <img class="rectangle-14" src="img/rectangle-34-5.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-76.svg" />
                                <img class="star-2" src="~/img/star-77.svg" />
                                <img class="star-3" src="~/img/star-78.svg" />
                                <img class="star-4" src="~/img/star-79.svg" />
                                <img class="star-5" src="~/img/star-80.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-17.svg" />
                    </div>
                </div>
            </div>
            <div class="group-25">
                <div class="overlap-group-5">
                    <div class="overlap-8">
                        <div class="text-wrapper-31">182,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Khuyên tai Tiffany Victoria</div>
                            <img class="rectangle-14" src="img/rectangle-34-19.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-81.svg" />
                                <img class="star-2" src="~/img/star-82.svg" />
                                <img class="star-3" src="~/img/star-83.svg" />
                                <img class="star-4" src="~/img/star-84.svg" />
                                <img class="star-5" src="~/img/star-85.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-18.svg" />
                    </div>
                </div>
            </div>
            <div class="group-26">
                <div class="overlap-group-5">
                    <div class="overlap-8">
                        <div class="text-wrapper-31">182,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Khuyên tai Tiffany Victoria</div>
                            <img class="rectangle-14" src="img/rectangle-34-19.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-86.svg" />
                                <img class="star-2" src="~/img/star-87.svg" />
                                <img class="star-3" src="~/img/star-88.svg" />
                                <img class="star-4" src="~/img/star-89.svg" />
                                <img class="star-5" src="~/img/star-90.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-19.svg" />
                    </div>
                </div>
            </div>
            <div class="group-27">
                <div class="overlap-group-5">
                    <div class="overlap-8">
                        <div class="text-wrapper-31">182,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Khuyên tai Tiffany Victoria</div>
                            <img class="rectangle-14" src="img/rectangle-34-19.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-91.svg" />
                                <img class="star-2" src="~/img/star-92.svg" />
                                <img class="star-3" src="~/img/star-93.svg" />
                                <img class="star-4" src="~/img/star-94.svg" />
                                <img class="star-5" src="~/img/star-95.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-20.svg" />
                    </div>
                </div>
            </div>
            <div class="group-28">
                <div class="overlap-group-5">
                    <div class="overlap-8">
                        <div class="text-wrapper-31">182,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Khuyên tai Tiffany Victoria</div>
                            <img class="rectangle-14" src="img/rectangle-34-19.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-96.svg" />
                                <img class="star-2" src="~/img/star-97.svg" />
                                <img class="star-3" src="~/img/star-98.svg" />
                                <img class="star-4" src="~/img/star-99.svg" />
                                <img class="star-5" src="~/img/star-100.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-21.svg" />
                    </div>
                </div>
            </div>
            <div class="group-29">
                <div class="overlap-group-5">
                    <div class="overlap-9">
                        <div class="text-wrapper-31">189,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Nhẫn VCA Vintage Alhambra</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-23.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-101.svg" />
                                <img class="star-2" src="~/img/star-102.svg" />
                                <img class="star-3" src="~/img/star-103.svg" />
                                <img class="star-4" src="~/img/star-104.svg" />
                                <img class="star-5" src="~/img/star-105.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-22.svg" />
                    </div>
                </div>
            </div>
            <div class="group-30">
                <div class="overlap-group-5">
                    <div class="overlap-9">
                        <div class="text-wrapper-31">189,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Nhẫn VCA Vintage Alhambra</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-23.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-106.svg" />
                                <img class="star-2" src="~/img/star-107.svg" />
                                <img class="star-3" src="~/img/star-108.svg" />
                                <img class="star-4" src="~/img/star-109.svg" />
                                <img class="star-5" src="~/img/star-110.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-23.svg" />
                    </div>
                </div>
            </div>
            <div class="group-31">
                <div class="overlap-group-5">
                    <div class="overlap-9">
                        <div class="text-wrapper-31">189,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Nhẫn VCA Vintage Alhambra</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-23.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-111.svg" />
                                <img class="star-2" src="~/img/star-112.svg" />
                                <img class="star-3" src="~/img/star-113.svg" />
                                <img class="star-4" src="~/img/star-114.svg" />
                                <img class="star-5" src="~/img/star-115.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-24.svg" />
                    </div>
                </div>
            </div>
            <div class="group-32">
                <div class="overlap-group-5">
                    <div class="overlap-9">
                        <div class="text-wrapper-31">189,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-33">Nhẫn VCA Vintage Alhambra</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-23.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-116.svg" />
                                <img class="star-2" src="~/img/star-117.svg" />
                                <img class="star-3" src="~/img/star-118.svg" />
                                <img class="star-4" src="~/img/star-119.svg" />
                                <img class="star-5" src="~/img/star-120.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-25.svg" />
                    </div>
                </div>
            </div>
            <div class="group-33">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">110,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Nhẫn Rose Céleste</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-3.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-121.svg" />
                                <img class="star-2" src="~/img/star-122.svg" />
                                <img class="star-3" src="~/img/star-123.svg" />
                                <img class="star-4" src="~/img/star-124.svg" />
                                <img class="star-5" src="~/img/star-125.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-26.svg" />
                    </div>
                </div>
            </div>
            <div class="group-34">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">110,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Nhẫn Rose Céleste</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-3.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-126.svg" />
                                <img class="star-2" src="~/img/star-127.svg" />
                                <img class="star-3" src="~/img/star-128.svg" />
                                <img class="star-4" src="~/img/star-129.svg" />
                                <img class="star-5" src="~/img/star-130.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-27.svg" />
                    </div>
                </div>
            </div>
            <div class="group-35">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">110,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Nhẫn Rose Céleste</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-3.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-131.svg" />
                                <img class="star-2" src="~/img/star-132.svg" />
                                <img class="star-3" src="~/img/star-133.svg" />
                                <img class="star-4" src="~/img/star-134.svg" />
                                <img class="star-5" src="~/img/star-135.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-28.svg" />
                    </div>
                </div>
            </div>
            <div class="group-36">
                <div class="overlap-group-5">
                    <div class="overlap-7">
                        <div class="text-wrapper-31">110,000,000₫</div>
                        <div class="overlap-group-7">
                            <div class="text-wrapper-32">Nhẫn Rose Céleste</div>
                            <img class="rectangle-14" src="~/img/rectangle-34-3.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-136.svg" />
                                <img class="star-2" src="~/img/star-137.svg" />
                                <img class="star-3" src="~/img/star-138.svg" />
                                <img class="star-4" src="~/img/star-139.svg" />
                                <img class="star-5" src="~/img/star-140.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-29.svg" />
                    </div>
                </div>
            </div>
            <div class="group-37">
                <div class="overlap-group-5">
                    <div class="overlap-10">
                        <div class="text-wrapper-34">1,232,434,000₫</div>
                        <div class="overlap-group-7">
                            <p class="text-wrapper-33">Vòng tay Panthere de Cartier</p>
                            <img class="rectangle-14" src="~/img/rectangle-34-1.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-141.svg" />
                                <img class="star-2" src="~/img/star-142.svg" />
                                <img class="star-3" src="~/img/star-143.svg" />
                                <img class="star-4" src="~/img/star-144.svg" />
                                <img class="star-5" src="~/img/star-145.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-30.svg" />
                    </div>
                </div>
            </div>
            <div class="group-38">
                <div class="overlap-group-5">
                    <div class="overlap-10">
                        <div class="text-wrapper-34">1,232,434,000₫</div>
                        <div class="overlap-group-7">
                            <p class="text-wrapper-33">Vòng tay Panthere de Cartier</p>
                            <img class="rectangle-14" src="~/img/rectangle-34-1.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-146.svg" />
                                <img class="star-2" src="~/img/star-147.svg" />
                                <img class="star-3" src="~/img/star-148.svg" />
                                <img class="star-4" src="~/img/star-149.svg" />
                                <img class="star-5" src="~/img/star-150.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-31.svg" />
                    </div>
                </div>
            </div>
            <div class="group-39">
                <div class="overlap-group-5">
                    <div class="overlap-10">
                        <div class="text-wrapper-34">1,232,434,000₫</div>
                        <div class="overlap-group-7">
                            <p class="text-wrapper-33">Vòng tay Panthere de Cartier</p>
                            <img class="rectangle-14" src="~/img/rectangle-34-1.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-151.svg" />
                                <img class="star-2" src="~/img/star-152.svg" />
                                <img class="star-3" src="~/img/star-153.svg" />
                                <img class="star-4" src="~/img/star-154.svg" />
                                <img class="star-5" src="~/img/star-155.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-32.svg" />
                    </div>
                </div>
            </div>
            <div class="group-40">
                <div class="overlap-group-5">
                    <div class="overlap-10">
                        <div class="text-wrapper-34">1,232,434,000₫</div>
                        <div class="overlap-group-7">
                            <p class="text-wrapper-33">Vòng tay Panthere de Cartier</p>
                            <img class="rectangle-14" src="~/img/rectangle-34-1.png" />
                            <div class="group-16">
                                <img class="star" src="~/img/star-156.svg" />
                                <img class="star-2" src="~/img/star-157.svg" />
                                <img class="star-3" src="~/img/star-158.svg" />
                                <img class="star-4" src="~/img/star-159.svg" />
                                <img class="star-5" src="~/img/star-160.svg" />
                            </div>
                        </div>
                    </div>
                    <div class="group-17">
                        <div class="ng-nhp"><div class="ng-nh-p">Thêm vào giỏ hàng</div></div>
                        <img class="east" src="~/img/east-33.svg" />
                    </div>
                </div>
            </div>
            <div class="overlap-11">
                <div class="ellipse-9"></div>
                <div class="group-41">
                    <div class="text-wrapper-35">Xem thêm</div>
                    <img class="arrow" src="~/img/arrow-1.svg" />
                </div>
            </div>
        </div>

