
@{
    ViewBag.Title = "Thanh toán thành công";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<link href="~/Content/Css/globals.css" rel="stylesheet" />
<link href="~/Content/Css/styleguild.css" rel="stylesheet" />
<link href="~/Content/Css/ThanhToanThanhCongCss.css" rel="stylesheet" />



<div class="thanh-ton-thnh-cng">
    <div class="overlap-wrapper">
        <div class="overlap">
            <div class="text-wrapper">Thanh toán:</div>
            <p class="div">Mã số đơn hàng của bạn là :</p>
            <div class="text-wrapper-2">Tổng tiền :</div>
            <div class="text-wrapper-3">15,000,000đ</div>
            <div class="text-wrapper-4">Thanh toán bằng Paypal</div>
            <div class="text-wrapper-5">0215478799</div>
            <div class="text-wrapper-6">Thanh toán thành công</div>
            <div class="group">
                <div class="overlap-group-wrapper">
                    <div class="overlap-group"> 
                        <div class="ng-nhp"><p class="ng-nh-p">Xem chi tiết đơn hàng</p></div>
                        <img class="east" src="~/img/east-3.svg" />
                    </div>
                </div>
                <div class="div-wrapper">
                    <div class="overlap-2">
                        <div class="ng-nhp"><div class="ng-nh-p">Tiếp tục mua hàng</div></div>
                        <img class="img" src="~/img/east-4.svg" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>